#i1{
  display: inline-block;
  width: 20%;
  margin: 0%;
  border: solid 2px;
  border-color: #000000;
  padding: 5%;
}

#i2{
  display: inline-block;
  width: 20%;
  margin: 0%;
  border: solid 2px;
  border-color: #000000;
  padding: 5%;
}
