body{
  font-size: large;
  font-family: Arial;
  color: #000000;
  margin: 0%;
  border: 0px;
  padding: 0%;
}

header{
  opacity: 0.3;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 8vh;
  margin: 0%;
  border: 0px;
  padding: 0%;
}


main{
  padding-top: 8vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  margin: 0%;
  border: 0px;
}

section{
  background-color: #FFFFFF;
  margin: 0%;
  border: 0px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
}

h2{
  background-color: #FFFFFF;
  margin: 0%;
  border: 0px;
  padding: 0%;
}

#multicol1{
  display: inline-block;
  width: 25%;
  padding: 0%;
  border: 0px;
  margin: 0%;
}

#multicol2{
  display: inline-block;
  width: 65%;
  padding: 0%;
  border: 0px;
  margin: 0%;
}

#i0{
  display: inline-block;
  width: 70%;
  margin: 0%;
  border: solid 2px;
  border-color: #000000;
  padding: 0%;
}

#itype{
  display: inline-block;
  width: 98%;
  margin: 0 auto;
  border: solid 2px;
  border-color: #000000;
  padding: 0%;
}
