body{
  font-family: Arial;
  font-size: xx-large;
  padding: 5px;
}

#multicol1{
  display: block;
}

#multicol2{
  display: block;
}

#i0{
  width: 70%;
  border: solid 5px;
  border-color: #007FFF;
}

@media (orientation: landscape) {
	body{
		font-size: medium;
	}
	#multicol1{
		display: inline-block;
		width: 20%;
	}
	#multicol2{
		display: inline-block;
		width: 70%;
	}
}
