body{
  z-index: 1;
}

header{
  z-index: 3;
}

body{
  font-size: medium;
  font-family: Arial;
  color: #000000;
  margin: 0%;
  border: 0px;
  padding: 0%;
}

header{
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 10vh;
  margin: 0%;
  border: 0px;
  padding: 0%;
}


main{
  padding-top: 10vh;
  padding-bottom: 0vh;
  padding-left: 0vw;
  padding-right: 0vw;
  margin: 0%;
  border: 0px;
}

section{
  background-color: #FFFFFF;
  opacity: 0.8;
  margin: 0%;
  border: 0px;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
}

h2{
  background-color: #FFFFFF;
  margin: 0%;
  border: 0px;
  padding: 0%;
}

#multicol1{
  display: inline-block;
  width: 18%;
  padding: 0%;
  border: 0px;
  margin: 0%;
}

#multicol2{
  display: inline-block;
  width: 72%;
  padding: 0%;
  border: 0px;
  margin: 0%;
}

#i0{
  display: inline-block;
  width: 80%;
  margin: 0%;
  border: solid 2px;
  border-color: #000000;
  padding: 0%;
}

#itype{
  display: inline-block;
  width: 90%;
  margin: 0%;
  border: solid 2px;
  border-color: #000000;
  padding: 0%;
}
