body{
  z-index: 1;
}

header{
  z-index: 3;
}

body{
  font-size: xx-large;
  color: #000000;
  margin: 0%;
  border: 0px;
  padding: 0%;
}

header{
  font-family: monospace;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 10vh;
  margin: 0%;
  border: 0px;
  padding: 0%;
  opacity: 0.8;
}

/*
#modebtn{
  text-align: center;
  font-weight: bold;
  display: inline-block;
  width: 20%;
  height: 10vh;
  line-height: 5vh;
  margin: 0%;
  border: 0px;
  padding: 0%;
  float: left;
  color: #FFFFFF;
  background-color: #880088;
  transition: .5s background-color;
}

#modebtn:hover{
  background-color: #FF00FF;
}
*/

h1{
  text-align: center;
  display: inline-block;
  width: 100vw;
  height: 10vh;
  line-height: 5vh;
  margin: 0%;
  border: 0px;
  padding: 0%;
  background-color: #FF00FF;
}

main{
  font-family: cursive;
  padding-top: 10vh;
  padding-bottom: 0vh;
  padding-left: 0vw;
  padding-right: 0vw;
  margin: 0%;
  border: 0px;
}

section{
  background-color: #FFFFFF;
  opacity: 0.8;
  margin: 0%;
  border: 0px;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
}

h2{
  background-color: #FFFFFF;
  margin: 0%;
  border: 0px;
  padding: 0%;
}

#multicol1{
  display: inline-block;
  width: 80%;
  padding: 0%;
  border: 0px;
  margin: 0%;
}

#multicol2{
  display: inline-block;
  width: 80%;
  padding: 0%;
  border: 0px;
  margin: 0%;
}

#i0{
  display: inline-block;
  width: 30%;
  margin: 0%;
  border: solid 2px;
  border-color: #000000;
  padding: 0%;
}

@media (orientation: landscape) {
  body{
    font-size: medium;
  }
 /* 
  #modebtn{
    line-height: 10vh;
  }
  */

  h1{
    line-height: 10vh;
  }

  /*
  main{
    padding-bottom: 0vh;
  }
  */

  #multicol1{
    width: 12%;
    margin: 0%;
  }

  #multicol2{
    width: 78%;
    margin: 0%;
  }

  #i0{
    width: 80%;
  }

}
