body{
  font-family: Arial;
}

h1{
  background-color: #888888;
}

h2{
  background-color: #999999;
}

.code{
  background-color: #0000FF;
  text-decoration: none;
}

.code:hover{
  background-color: #8888FF;
}
