body{
  font-family: Arial;
  background-image: url('../image/background.png');
}

h1{
  background-color: #AAAAAA;
}

h2{
  background-color: #DDDDDD;
}

img{
  display: inline-block;
  width: 20%;
  margin: 5%;
  border: solid 3px;
  border-color: #000000;
  padding: 0%;
}

.code{
  display: inline-block;
  width: 10%;
  height: 10%;
  text-align: center;
  color: #000000;
  background-color: #FFFF00;
  text-decoration: none;
}

.code:hover{
  background-color: #FFFFAA;
}
